# Monorepo
/mobile/node_modules/
/mobile/.expo/
/mobile/dist/
/mobile/web-build/
/mobile/expo-env.d.ts
/mobile/ios/
/mobile/android/
/mobile/.env*.local
/mobile/.env

/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/storage/logs/*
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
!/backend/storage/logs/.gitignore
!/backend/storage/framework/cache/.gitignore
!/backend/storage/framework/sessions/.gitignore
!/backend/storage/framework/views/.gitignore

*.tsbuildinfo
.DS_Store
*.pem
.vscode/
